<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/01e15847-fdfc-4957-b995-b9e60d7ff59b/resourceGroups/microservice4Azure/providers/Microsoft.Web/sites/history-process-azf-appservice</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://history-process-azf-appservice.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://history-process-azf-appservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$history-process-azf-appservice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>